<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EZ Update</title>
    <link href="style/main.css" rel="stylesheet">
    <link href="style/google-font.css" rel="stylesheet"/>
    <script src="scripts/vue.global.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="toolbar">
            <span @click="openAddDialog" style="left:10px;top:12px;color:#dfdfdf" class="material-symbols-outlined button">add</span>
            <span @click="test1" style="width:130px;height:30px;right:10px;top:10px;background-color:#dfdfdf;" class="button"><b>Check Update</b></span>
        </div>

        <div style="position:absolute;top:50px;height:100vh-50px;width:100%;overflow:auto">
            <div style="font-family:raleway-medium" class="container" v-for="i in config">
                <label style="position:relative;top:15px;font-size:28px" class="label"><b>{{i.name}}</b></label>
                <span @click="openEditDialog(i.id)" style="position:relative;top:20px;left:20px;font-size:28px" class="material-symbols-outlined button">edit</span>
                <span @click="openDelDialog(i.id)" style="position:relative;top:20px;left:25px;font-size:28px" class="material-symbols-outlined button">delete</span><br>
                <label style="position:relative;top:25px" class="label"><b>Directory</b></label>
                <label style="position:relative;top:25px;left:10px">{{i.dir}}</label><br>
                <label style="position:relative;top:30px" class="label"><b>Version</b></label>
                <label style="position:relative;top:30px;left:10px">{{i.ver}}</label><br>
                <label style="position:relative;top:35px" class="label"><b>Repository Url</b></label>
                <label style="position:relative;top:35px;left:10px">{{i.url}}</label>
            </div>
        </div>

        <div v-show="showAddDialog" class="dialog">
            <span @click="closeAddDialog" style="position:absolute;right:10px;top:10px;color:#dfdfdf" class="material-symbols-outlined button">close</span>
            <label style="top:50px;left:10px;color:white" class="label" for="name">Name</label>
            <input v-model="name" style="top:80px;left:10px;right:10px" class="input" type="text" id="name">
            <label style="top:120px;left:10px;color:white" class="label" for="dir">Directory</label>
            <input @click="openFile" v-model="dir" style="top:150px;left:10px;right:10px" class="input" type="text" id="dir" readonly>
            <label style="top:190px;left:10px;color:white" class="label" for="ver">Version</label>
            <input v-model="ver" style="top:210px;left:10px;right:10px" class="input" type="text" id="ver">
            <label style="top:250px;left:10px;color:white" class="label" for="ver">Repository Url</label>
            <input v-model="url" style="top:280px;left:10px;right:10px" class="input" type="text" id="ver">
            <span @click="saveConfig" v-show="dialogMode=='add'" style="width:100px;height:30px;top:335px;left:130px;background-color:white;" class="button"><b>Add</b></span>
            <span @click="editConfig" v-show="dialogMode=='edit'" style="width:100px;height:30px;top:335px;left:130px;background-color:white;" class="button"><b>Edit</b></span>
            <span @click="closeAddDialog" style="width:100px;height:30px;top:335px;right:130px;background-color:white;" class="button"><b>Cancel</b></span>
        </div>

        <div v-show="showDelDialog" style="text-align:center;" class="dialog">
            <p style="position:relative;top:70px;color:white;font-size:40px">Are You Sure You Want To Delete This?</p>
            <span @click="delConfig" style="width:100px;height:30px;top:335px;left:130px;background-color:white;" class="button"><b>Delete</b></span>
            <span @click="closeDelDialog" style="width:100px;height:30px;top:335px;right:130px;background-color:white;" class="button"><b>Cancel</b></span>
        </div>
    </div>

    <script src="scripts/renderer.js"></script>
</body>
</html>