@font-face{
    font-family:"raleway-regular";
    src:url("../fonts/raleway-regular.ttf")
}

body,h1,h2,h3,h4,h5,h6 {font-family:"raleway-regular",sans-serif}

body{
    margin:0;
    padding:0;
}

.toolbar{
    position:fixed;
    width:100%;
    height:50px;
    background-color:#1c1c1c;
    z-index:999;
}

.button{
    position:absolute;
    cursor:pointer;
    text-align:center;
    display: grid;
    place-items: center;
    border-radius:5px;
    --webkit-user-select:none;
    user-select:none;
}

.dialog{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:600px;
    height:400px;
    background-color:#1c1c1c;
    border-radius:3px;
    z-index:999;
}

.label{
    position:absolute;
    --webkit-user-select:none;
    user-select:none;
}

.input{
    position:absolute;
    height:25px;
    border:none;
    border-radius:5px;
    outline:none;
}

.container{
    width:100%-30px;
    height:150px;
    padding:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.container:hover{
    background-color:#dddddd;
}